.App {
  text-align: center;
}

.custom.collapse {
  width: 100%;
}

.custom.collapse > .navbar-nav{
  margin: auto;
}

.page-body {
  padding: 0 16px;
  width: 88%;
  max-width: 1200px;
  margin: 70px auto 0;
}

.cart-link {
  padding-left: 0;;
  position: relative;
  color: rgba(0,0,0,.9)!important;
}

.cart-quantity { 
  position: absolute;
  right: -12px;
  bottom: -8px;
  color: white;
  background: #000;
  width: 24px;
  text-align: center;
  border-radius: 50%;
  z-index: -2;
}

.cart-container .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container .card-img-top {
  max-width: 300px;
}

.cart-container {
  flex-direction: column;
}

.cart-container .card {
  flex-direction: row;
}

.page-body .card-img, .card-img-top {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.page-body .card-text {
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adopted-container .card-title.h5 {
  min-height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px){
  .row.cart-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .row.cart-container .col.mb-4.px-8 {
    flex: unset;
    width: 300px;
  }

  .cart-container .card-body {
    flex-direction: column;
   }

  .cart-container .card {
    flex-direction: column;
  }
}